extends layout

block content
  .row
    .form
      form.form-inline#form-hashtag(action='#')
        .form-group
          label(for='hashtag') #
          input#input-hashtag.form-control(type='text', placeholder='')
        button.btn.btn-default(type='submit') Plot 
  .row
    .chart
      canvas(id='chart', width='1200', height='400')
