body {
  padding: 100px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form {
  margin: 25px auto;
  width: 470px;
}
button, .form-group {
  margin: 0 10px;
}
.chart {
  width: 1200px;
  margin: 20px auto;

}
