body {
  padding: 100px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form {
  margin: 25px auto;
  width: 1100px;
}
#input-hashtag-4 {
  color: #5cb85c;
  width: 200px;
}
#input-hashtag-3 {
  color: #f0ad4e;

  width: 200px;
}
#input-hashtag-2 {
  color: #d9534f;

  width: 200px;
}
#input-hashtag-1 {
  color: #428bca;
  width: 200px;
}
#form-bar {
  width: 600px;
}

button, .form-group {
  margin: 0 10px;
}
.chart {
  width: 1200px;
  margin: 20px auto;

}
